.timetable {
    //

    &--table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    &--classname {
        background: $primaryTransColor;
        text-align: center;
    }

    &--lesson {
        padding-left: .7vw;
    }

    &--time {
        color: #777;
        font-size: 80%;
        vertical-align: middle;
    }

    &--room {
        padding-right: .7vw;
    }
}