$tilesColumns: 4;
$tilesRows: 3;

$primaryColor: #3498db;
$primaryTransColor: transparentize($primaryColor, .8);

$breakColor: #2ecc71;
$breakTransColor: transparentize($breakColor, .8);

$lessonColor: #e67e22;
$lessonTransColor: transparentize($lessonColor, .8);