.tile-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 24vh 24vh 24vh;
    
    grid-gap: 1.5vw;
    padding: 7vw;
}

.tile {
    background: transparentize(#ffffff, .2);
}